section {
  width: 100%;
  height: 100%;
}

.memory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.memory-game__exit {
  all: unset;
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.memory__overlay {
  background-color: rgba(104, 134, 116, 0.6);
  backdrop-filter: blur(50px);
  width: 100%;
  height: 100%;
  position: absolute;
}

.memory-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.memory-game p {
  position: absolute;
  top: 15%;
  width: 100%;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  font-family: "Berkshire Swash", cursive;
}

.memory-cards {
  width: 95%;
  height: 45%;
  max-width: 400px;
  max-height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  perspective: 1000px;
}

.memory-card {
  width: calc(25%);
  width: 20%;
  height: 20%;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  transform: scale(1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
