#nav__link--couch path {
  fill: rgb(251, 242, 219);
}

.afterlogin-service {
  margin: 40px 30px;
}
.logined-userName {
  font-size: 40px;
  width: 80%;
  margin-bottom: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}
.logined-userTemp {
  font-size: 12px;
  width: 99%;
  line-height: 1.4;
  opacity: 0.7;
  color: rgba(54, 52, 65, 0.7);
}

.popup-bgr {
  background-color: rgba(110, 110, 110, 0.3);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-box {
  width: 70%;
  height: 65%;
  max-width: 360px;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 4px double darkgray;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-box p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
  text-align: center;
  width: 85%;
  line-height: 1.3;
}
.popup-box p span {
  font-size: 18px;
  font-weight: 600;
  font-family: "Berkshire Swash", cursive;
  line-height: 2;
}
.popup-box button {
  width: 70%;
  height: 40px;
  color: #fff;
  margin: 8px 0;
  border: none;
  background-color: silver;
  border-radius: 10px;
}

.popup-box .ok:hover {
  background-color: var(--main-color);
  transition: all 0.3s ease-in-out;
}
.popup-box .cancel:hover {
  background-color: rgba(184, 142, 142, 0.719);
  transition: all 0.3s ease-in-out;
}
.popup-box button:active {
  transform: scale(0.97);
}

.cafe-service {
  margin: 10px 25px;
  padding: 12px;
  border: 2.5px double rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  font-size: 14px;
  text-indent: 3.43%;
}
