#nav__link--cookie path {
  fill: rgb(251, 242, 219);
}

.daily-cookie {
  margin-top: 10px;
  background-color: #c3d3e283;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}
.daily-cookie h1 {
  font-family: "Berkshire Swash", cursive;
  margin: 10px;
  font-size: 27px;
  text-decoration: underline double var(--light-color);
  text-align: center;
  color: rgb(89, 124, 185);
}
.daily-cookie__text {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  width: 80%;
}
.daily-cookie__description {
  font-size: 13.5px;
  color: rgb(21, 21, 109);
  margin-bottom: 10px;
}

.total-cookies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.cookie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  box-sizing: border-box;
}

.cookie img {
  height: 80px;
  margin: 10px;
}
.cookie__name {
  font-size: 17px;
  font-weight: 600;
  text-decoration: underline double rgb(163, 157, 142);
}
.cookie__long {
  width: 110px;
  text-indent: 3.433%;
  line-height: 1.3;
  font-size: 13px;
  color: rgb(107, 91, 91);
}

.cookie-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cookie-popup__overlay {
  background-color: rgba(110, 110, 110, 0.3);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
}
.cookie-popup__content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  font-size: 13px;
  text-align: center;
  position: relative;
  border-radius: 15px;
  width: 70%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  top: 0;
}
.hidden {
  display: none;
}

.cookie-popup__exit {
  all: unset;
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 25px;
  color: var(--main-color);
}
.cookie-popup__content h1 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(89, 124, 185);
  text-decoration: underline double var(--light-color);
}
.cookie-popup__content h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.cookie-popup__content p {
  font-size: 13px;
  text-align: start;
}
.cookie-popup__content h6 {
  margin: 10px 0;
  color: rgba(41, 60, 94, 0.63);
  font-style: italic;
}
