@keyframes KeepgoingButton {
  0% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

.logout {
  position: fixed;
  bottom: 85px;
  animation: KeepgoingButton 15s linear infinite;
}
.logout-btn {
  border: none;
  background-color: rgba(232, 232, 232, 0.606);
  border-radius: 12px;
  padding: 8px 30px;
  font-size: 15px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: rgb(255, 205, 79);
  transition: all 0.3s ease-in-out;
}
